/*.active {
    background-color: #20A8D8 !important;
}
*/

.btn-xs, .btn-group-xs > .btn {
    padding: 0.4rem ;
    height: 30px;
    width: 30px;
    border-radius: 0.21rem;
}

tr {
    vertical-align: middle !important;
    height: 30px !important;
}
.card {
    margin-bottom: 1.5rem !important;
}
.card-body {
    padding: 0.5rem 1rem !important;
}
.card-footer {
    padding: 0.2rem !important;
}
.card-header {
    padding: 0.5rem !important;
}

label {
    display: inline-block;
    margin-bottom: 0.1rem;
}

.form-control {
    padding: 0.15rem 0.75rem;
    font-size: 13px !important;
}
 .campo-form{
       line-height: 20px;
 }
 form .form-group {
    margin-bottom: 10px !important;
}

th {
  text-align: center;
}
 td {
    padding: 0.2rem 0.4rem !important;
    vertical-align: middle !important;
    font-size: 11.5px;
}

blockquote .frase{
  font-size: 12.5px !important;
  font-style: italic ;
  margin-right: 20px;
  margin-left: 20px;
}

ol li, ul li, dl li {
    line-height: 1.8;
    font-size: 15px;
}

.invalid-data {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 90%;
  color: red;
}

.invalid-data-white {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 90%;
  color: white;
}

.brand-text {
 padding-left: 1px !important;
}

.main-menu.menu-dark .navigation > li > a {
    padding: 10px 30px 10px 8px;
}
.nav-item-app {
  padding: 5px 30px 5px 8px !important;
}
.menu-item-op {
  padding: 2px 30px 2px 35px !important;

}

 .link-active  {
   font-weight: bold;
   color: yellow !important;
}

.my-vdatetime{
     border: 1px solid #666EE8 !important;
         border-radius: 0.25rem;
         padding-left: 10px;
}


.theme-orange .vdatetime-popup__header,
.theme-orange .vdatetime-calendar__month__day--selected > span > span,
.theme-orange .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #FF9800;
}

.theme-orange .vdatetime-year-picker__item--selected,
.theme-orange .vdatetime-time-picker__item--selected,
.theme-orange .vdatetime-popup__actions__button {
  color: #ff9800;
}
